packages:
  yum:
    chromium: []
    chromium-headless: []
    chromium-common: []
    chromium-libs: []
    xorg-x11-server-Xvfb: []

commands:
  01_install_chrome:
    command: |
      curl -sSL https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm -o /tmp/chrome.rpm
      yum localinstall -y /tmp/chrome.rpm
    ignoreErrors: true
